<header id="site-header">

  <div id="avatar-container">

    <a href="/">
      <img id="author-picture" src="{{ site.author.picture }}" class="img-rounded"/>
    </a>

    <p id="author-name">{{ site.author.name }}</p>

    <p id="author-intro" class="visible-md-block visible-lg-block">{{ site.author.description }}</p>

    <nav>

      <ul id="nav" class="list-inline hidden-md hidden-lg">
        <li><a href="/">About</a></li>
        <li><a href="/resume">Résumé</a></li>
        <li><a href="https://twitter.com/robalanclark"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="https://www.linkedin.com/pub/robert-clark/43/337/152"><i class="fa fa-linkedin fa-2x"></i></a></li>

      </ul>

    </nav>
    <!-- responsive menu -->

  </div>
  <!-- avatar -->

  <div id="nav-container" class="visible-md-block visible-lg-block">

    <nav>

      <ul class="list-unstyled">
      <li><a href="/">About</a></li>
      <li><a href="/resume">Résumé</a></li>
      </ul>

    </nav>

  </div>
  <!-- menu -->

  <footer class="visible-md-block visible-lg-block">
			<a href="https://twitter.com/robalanclark"><i class="fa fa-twitter fa-4x"></i></a>
			<a href="https://www.linkedin.com/pub/robert-clark/43/337/152"><i class="fa fa-linkedin fa-4x"></i></a>
  </footer>
  <!-- footer -->

</header>
